.clickbox
{
	height: 8em;
	width: 8em;
	border-radius: 1em;
	border: 2px solid #003359;
	background-color: #FFFFFF;
}

div .xbox
{
    visibility: hidden;
    display: none;
}

div .obox
{
    visibility: hidden;
    display: none;
}

.oclicked .obox
{
    visibility: visible;
    display: inline;
}

.xclicked .xbox
{
    visibility: visible;
    display: inline;
}

.clickbox-hover
{
	border: 2px solid #FACA00;
}

.clickbox-clicked
{
    height: 8em;
	width: 8em;
	border-radius: 1em;
	border: 2px solid #888888;
	background-color: #FFFFFF;
}

table
{
    margin: auto;
}

.selected
{
    border: 2px solid #FF0000;
}
